body * {

    user-select: none;
    box-sizing: border-box;
    
}

body {

    font-family: "Trebuchet MS", sans-serif;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    overflow-x: hidden;

}

video {

    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -5;
    overflow: hidden;

}



header {

    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 22, 22);
    width: 100%;
    height: 4.5vw;
    font-weight: bold;
    font-size: 0.8vw;
    padding: 1vw;
    z-index: 5;

}

header section {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

header img {

    width: 10vw;

}

header #icon {

    width: 2vw;
    height: 2vw;
    margin: 0vw 0.5vw 0vw 1.5vw;

}

header p {

    color: white;

}

header ul {

    display: flex;
    align-items: center;
    list-style: none;
    
}

header li {

    width: 16vw;
    height: 2.2vw;
    text-align: center;
    border-radius: 0.5vw;
    border: none;
    background: linear-gradient(114deg, rgb(253, 167, 68) 0%, rgb(250, 36, 64) 100%);
    box-shadow: 0vw 0vw 1vw rgb(241, 93, 24);
    margin: 1vw;
    scale: 1;
    transition: 0.3s;
    
}

header li:hover {

    scale: 1.1;
    transition: 0.3s;
    cursor: pointer;

}

header a, header a:visited {

    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: inherit;
    text-decoration: none;
    color: black;

}



main {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 6vw;
    min-height: calc(100vh - 4.5vw);

}

h1 {

    font-size: 4vw;
    font-weight: bolder;
    width: 90vw;
    height: 10vw;
    margin: 2vw;
    padding: 2vw;
    text-align: center;
    color: white;
    background-color: rgb(22, 22, 22);
    border-radius: 1vw;
    border: 0.3vw white solid;
    box-shadow: 0vw 0vw 1.5vw white;

}

main section {

    display: flex;
    margin: 3vw 0vw 4vw 0vw;

}
  
div {
    
    display: flex;
    flex-wrap: wrap;
    height: 17vw;
    width: 11.5vw;
    font-size: 1.1vw;
    background-color: rgb(22, 22, 22);
    border-radius: 0.5vw;
    box-shadow: 0vw 0vw 1.5vw rgba(225, 225, 225, 0.5);
    border: 0.3vw white solid;
    transition: 0.4s;

}
  
div:not(:first-child) {

    margin-left: -3vw;
    transition: 0.4s;

}
  
div:hover {

    transform: translateY(-1.5vw);
    scale: 1.05;
    transition: 0.4s;

}
  
div:hover ~ div {

    transform: translateX(4vw);
    transition: 0.4s;

}

main img {

    width: inherit;
    height: 13.5vw;
    border-radius: 0vw 0vw 0.2vw 0.2vw;

}

main h3 {

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: inherit;
    height: 3vw;
    margin: 0;

}

article {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    margin: 1vw 0vw 4vw 0vw;

}

article > * {

    padding: 1.5vw;
    border-radius: 1vw;
    box-shadow: 1vw 1vw 3vw black;
    font-size: 1.1vw;
    font-weight: bolder;
    background-color: rgb(22, 22, 22);
    color: white;
    width: 30vw;
    scale: 1;
    transition: 0.4s;

}

article > *:hover {

    scale: 1.05;
    transition: 0.4s;

}

li {

    margin-left: 1vw;

}



footer {

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8vw;
    font-weight: bold;
    background-color: rgb(22, 22, 22);
    text-shadow: 0.1vw 0.1vw 0.5vw rgb(255, 255, 255);

}

footer > img {

    width: 5vw;
    scale: 70%;

}
