body * {

    user-select: none;
    box-sizing: border-box;
    
}

body {

    font-family: "Trebuchet MS", sans-serif;
    margin: 0;
    overflow-x: hidden;

}

video {

    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    overflow: hidden;

}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 22, 22);
    height: 4.5vw;
    font-weight: bold;
    font-size: 0.8vw;
    padding: 1vw;

}

header > img {

    width: 10vw;

}

header ul {

    display: flex;
    align-items: center;
    list-style: none;

}

header li {

    width: 16vw;
    height: 2.2vw;
    text-align: center;
    border-radius: 0.5vw;
    border: none;
    background: linear-gradient(114deg, rgb(253, 167, 68) 0%, rgb(250, 36, 64) 100%);
    box-shadow: 0vw 0vw 1vw rgb(241, 93, 24);
    transition: 0.2s;
    margin: 1vw;
    
}

header li:hover {

    width: 17vw;
    height: 2.4vw;
    transition: 0.2s;
    cursor: pointer;

}

header a, header a:visited {

    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: inherit;
    text-decoration: none;
    color: black;

}



h1 {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    font-weight: bolder;
    width: 90%;
    margin-top: 100px;
    padding: 40px;
    text-align: center;
    color: white;
    background-color: rgb(22, 22, 22);
    border-radius: 20px;
    border: 8px white solid;
    box-shadow: 0px 0px 34px 9px rgba(255, 255, 255, 0.6);

}



main {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 95vh;

}
  
.container {
    
    height: 200px;
    display: flex;
    margin: 30px 0px 130px 0px;

}
  
.card {

    display: flex;
    height: 340px;
    width: 240px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    border: 2px white solid;
    flex-wrap: wrap;

}
  
.card:not(:first-child) {

      margin-left: -50px;

}
  
.card:hover {

    transform: translateY(-20px);
    transition: 0.4s ease-out;

}
  
.card:hover ~ .card {

    position: relative;
    left: 50px;
    transition: 0.4s ease-out;

}
  
.title {

    display: flex;
    justify-content: center;
    color: rgb(22, 22, 22);
    font-weight: 300;
   
}

.container > div > img {

    width: 100%;
    height: 82.3%;
    border-radius: 10px;


  }

.coming{

    display: flex;
    align-items: center;
    justify-content: center;

}
  
.coming > img{

    border-radius: 10px;
    border: 2px white solid;
    box-shadow: -1rem 0 3rem #000;
    scale: 60%;
    
}

#sklep {

    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;

}

#sklep > * {

    width: 35%;

}



#sklep > p {

    font-size: 1.1vw;
    font-weight: bolder;
    color: white;
    background-color: rgb(22, 22, 22);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 8px 34px 9px rgba(0, 0, 0, 1);

}



footer {

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(22, 22, 22);

}

footer > img {

    scale: 70%;

}
