body * {

    user-select: none;
    box-sizing: border-box;
    
}

body {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    overflow-x: hidden;

}

video {

    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -5;
    overflow: hidden;

}



header {

    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 22, 22);
    width: 100%;
    height: 4.5vw;
    font-weight: bold;
    font-size: 0.8vw;
    padding: 1vw;
    z-index: 5;

}

header section {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

header img {

    width: 10vw;

}

header #icon {

    width: 2vw;
    height: 2vw;
    margin: 0vw 0.5vw 0vw 1.5vw;

}

header p {

    color: white;

}

header ul {

    display: flex;
    align-items: center;
    list-style: none;

}

header li {

    width: 16vw;
    height: 2.2vw;
    text-align: center;
    border-radius: 0.5vw;
    border: none;
    background: linear-gradient(114deg, rgb(253, 167, 68) 0%, rgb(250, 36, 64) 100%);
    box-shadow: 0vw 0vw 1vw rgb(241, 93, 24);
    transition: 0.2s;
    margin: 1vw;
    
}

header li:hover {

    width: 17vw;
    height: 2.4vw;
    transition: 0.2s;
    cursor: pointer;

}

header a, header a:visited {

    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: inherit;
    text-decoration: none;
    color: black;

}



main {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 6vw 3vw 1vw 3vw;
    min-height: calc(100vh - 4.5vw);

}

h1 {

    font-size: 4vw;
    font-weight: bolder;
    width: 90vw;
    height: 10vw;
    margin: 2vw;
    padding: 2vw;
    text-align: center;
    color: white;
    background-color: rgb(22, 22, 22);
    border-radius: 1vw;
    border: 0.3vw white solid;
    box-shadow: 0vw 0vw 1.5vw white;

}

.movie_box {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2vw 2vw 6vw 2vw;
    width: 80vw;
    gap: 8vw;
    row-gap: 5vw;

}

.movie_box img {

    width: 16vw;
    height: 24vw;
    border-radius: 1vw;
    box-shadow: 1vw 1vw 3vw black;
}

.filmContainer {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.filmContainer div {

    position: absolute;
    height: 12.05vw;
    width: 16.05vw;
    text-align: center;
    border-radius: 1vw 1vw 0vw 0vw;
    border: none;
    background: rgba(22, 22, 22, 0.5);
    color: white;
    font-size: 2vw;
    font-weight: bold;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.2s;
    left: 50%;

}

.filmContainer a {

    width: inherit;
    height: inherit;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.filmContainer .line {

    position: absolute;
    height: 0.5vw;
    border-radius: 0vw;
    top: 50%;
    z-index: 2;
    background-color: white;

}

.filmContainer .ticketButton {

    top: 75%;
    border-radius: 0vw 0vw 1vw 1vw;

}

.filmContainer > .trailerButton:hover {

    background: rgba(22, 22, 22, 0.95);
    font-size: 2.3vw;
    transition: 0.2s;

}

.filmContainer > .ticketButton:hover {

    background: rgba(22, 22, 22, 0.95);
    font-size: 2.3vw;
    transition: 0.2s;

}

.hide {

    display: none;
    
}

.show {

    display: flex;

}



footer {

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8vw;
    font-weight: bold;
    background-color: rgb(22, 22, 22);
    text-shadow: 0.1vw 0.1vw 0.5vw rgb(255, 255, 255);

}

footer > img {

    width: 5vw;
    scale: 70%;

}
