body * {

    user-select: none;
    box-sizing: border-box;
    
}

body {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    overflow-x: hidden;

}

video {

    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    overflow: hidden;

}



header {

    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 22, 22);
    width: 100%;
    height: 4.5vw;
    font-weight: bold;
    font-size: 0.8vw;
    padding: 1vw;
    z-index: 5;

}

header section {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

header img {

    width: 10vw;

}

header #icon {

    width: 2vw;
    height: 2vw;
    margin: 0vw 0.5vw 0vw 1.5vw;

}

header p {

    color: white;

}

header ul {

    display: flex;
    align-items: center;
    list-style: none;

}

header li {

    width: 16vw;
    height: 2.2vw;
    text-align: center;
    border-radius: 0.5vw;
    border: none;
    background: linear-gradient(114deg, rgb(253, 167, 68) 0%, rgb(250, 36, 64) 100%);
    box-shadow: 0vw 0vw 1vw rgb(241, 93, 24);
    transition: 0.2s;
    margin: 1vw;
    
}

header li:hover {

    width: 17vw;
    height: 2.4vw;
    transition: 0.2s;
    cursor: pointer;

}

header a, header a:visited {

    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: inherit;
    text-decoration: none;
    color: black;

}



main {

    padding-top: 6vw;
    min-height: calc(100vh - 4.5vw);

}

h1 {

    font-size: 100px;
    font-weight: bolder;
    width: 90%;
    margin: 2vw;
    padding: 40px;
    text-align: center;
    color: white;
    background-color: rgb(22, 22, 22);
    border-radius: 20px;
    border: 8px white solid;
    box-shadow: 0px 0px 34px 9px rgba(255, 255, 255, 0.6);

}

#aboutUs {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

#aboutUs > img {

    width: 28%;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgb(22, 22, 22);
    box-shadow: 10px 8px 34px 9px rgba(0, 0, 0, 1);

}

#aboutUs > p, #aboutUs > ul {

    width: 28%;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    background-color: rgb(22, 22, 22);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 8px 34px 9px rgba(0, 0, 0, 1);

}

li {

    margin-left: 30px;

}

#creators {

    display: flex;
    flex-wrap: wrap;
    margin: 100px 0px 100px 0px;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 100px;

}

#creators > img {

    width: 15%;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 6px rgba(0, 0, 0, 1);

}

#creators > p {

    height: min-content;
    width: 35%;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    background-color: rgb(22, 22, 22);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 8px 34px 9px rgba(0, 0, 0, 1);

}

.p {

    margin-right: 20%;

}

.reverse_p {

    margin-left: 20%;

}

.img {

    margin-left: 10%;

}

.reverse_img {

    margin-right: 10%;

}

footer {

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8vw;
    font-weight: bold;
    background-color: rgb(22, 22, 22);
    text-shadow: 0.1vw 0.1vw 0.5vw rgb(255, 255, 255);

}

footer > img {

    width: 5vw;
    scale: 70%;

}
