body *{

    user-select: none;
    
}

body {

    font-family: "Trebuchet MS", sans-serif;

}

video {

    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    overflow: hidden;

}

#header_box {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 22, 22);
    width: 100%;
    height: 110px;
    position: fixed;
    transform: translate(-8px, -8px);
    z-index: 1;
    font-weight: bold;
    margin-top: -135px;

}

#header_box > div {

    width: 300px;
    text-align: center;
    border-radius: 15px;
    border: none;
    background: linear-gradient(114deg, rgb(253, 167, 68) 0%, rgb(250, 36, 64) 100%);
    box-shadow: 3px 3px 20px 0px rgb(241, 93, 24);
    padding: 20px;
    margin: 30px;
    
}

#header_box > div:hover {
    
    box-shadow: 3px 3px 40px 0px rgb(241, 93, 24);
    padding-top: 25px;
    padding-bottom: 28px;
    transition: 0.1s ease-in-out;
}

#header_box > img {

    user-select: none;
    width: 250px;
    padding: 20px;
    margin: 55px;
}

a, a:visited {

    text-decoration: none;
    color: rgb(22, 22, 22);
    padding: 2em;
    padding-left: 8em;
    padding-right: 8em;
    margin: -2em;
    margin-left: -8em;
    margin-right: -8em;
}

h1 {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    font-weight: bolder;
    margin-top: 140px;
    width: 100%;
    text-align: center;

}

hr {

    border: 5px solid black;
    margin: 25px;
    margin-bottom: 100px;

}

#aboutUs {

    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-evenly;

}

#aboutUs > * {

    width: 35%;

}

#aboutUs > img {

    padding: 30px;
    border-radius: 20px;
    border: 5px solid rgb(22, 22, 22);
    box-shadow: 10px 8px 34px 9px rgba(0, 0, 0, 1);

}

#aboutUs > p{

    font-size: 1.1vw;
    font-weight: bolder;
    color: white;
    background-color: rgb(22, 22, 22);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 8px 34px 9px rgba(0, 0, 0, 1);

}

#creators {

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-evenly;
    row-gap: 100px;

}

#creators > img {

    width: 20%;
    border-radius: 20px;
    border: 5px solid rgb(22, 22, 22);
    box-shadow: 10px 8px 34px 9px rgba(0, 0, 0, 1);

}

#creators > p {

    width: 60%;
    font-size: 1.1vw;
    font-weight: bolder;
    color: white;
    background-color: rgb(22, 22, 22);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 8px 34px 9px rgba(0, 0, 0, 1);

}

footer {

    color: whitesmoke;
    text-shadow: 4px 4px 9px whitesmoke;
    letter-spacing: 2px;
    text-align: center;
    padding: 80px;
    font-style: oblique;
    background-color: rgb(22, 22, 22);
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;

}

footer > img {

    scale: 70%;

}
